@model UserViewModel
@{
    ViewData["Title"] = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - EFI Asset Management - Fueling</title>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
<body>
    <div class="container">
        <div class="left-side">
            <img src="/images/b3.jpg" alt="Hovering Cash Flow Icon" class="hovering-image">
            <div class="left-side-content">
                <div class="logo-background">
                    <img src="~/dist/img/efilogo.jpg" alt="EFI Logo" class="left-side-logo">
                </div>
                <h1>EFI Asset Management - Fueling</h1>
                <p>EXCELLENCE FACTORS INTERNATIONAL (EFI), a leading IT consultancy firm based in Qatar since 2014, delivers advanced fleet and fuel management solutions. Our fuel management system streamlines fuel consumption tracking, monitors driver behavior, and optimizes fleet efficiency. Whether tracking fuel usage, generating reports, or analyzing costs, EFI's comprehensive solution helps businesses make data-driven decisions to reduce operational expenses and enhance fleet performance. Experience smarter fleet management with EFI's intuitive fuel tracking system.</p>
            </div>
        </div>
        <!-- Rest of your content -->


        <div class="right-side">
            <div class="login-form">
                <div class="logo-container">
                    <img src="~/dist/img/efilogo.png" alt="EFI Logo" class="logo">
                </div>
                <h2>Sign in to your account</h2>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
                    <div class="form-group">
                        <label asp-for="UserName">Email</label>
                        <input asp-for="UserName" type="text" class="form-control" />
                        <span asp-validation-for="UserName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password">Password</label>
                        <input asp-for="Password" type="password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="RememberMe">
                                <input asp-for="RememberMe" />
                                @Html.DisplayNameFor(m => m.RememberMe)
                            </label>
                        </div>
                    </div>
                    <button type="submit">Sign In</button>
                </form>
                @* <div class="forgot-password">
                <a asp-action="ForgotPassw">Forgot your password?</a>
                </div> *@
            </div>
        </div>
    </div>
    @section Scripts {
        @await Html.PartialAsync("_ValidationScriptsPartial")
    }
</body>
</html>


